basic816.hex
basic816.lbl
basic816.lst
TODO.ods
.~lock.TODO.ods#
src/heap_gc.s
docs/tex/basic816.aux
docs/tex/basic816.fdb_latexmk
docs/tex/basic816.fls
docs/tex/basic816.log
docs/tex/basic816.synctex.gz
basic816_repl.hex
basic816_tests2.hex
*.pyc
C256Mgr/__pycache__/foenix.cpython-37.pyc
